.adminHeader{
    background-color: #77db2a;
}
.admin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    max-width: 1400px;
}
.admin-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.admin-a{
    color: black;
    font-size: 1.5rem;
}